In [2]:
import pandas as pd

In [6]:
df_gtf = pd.read_csv('gencode.vM21.annotation.gtf.gz', sep='\t', comment='#', header=None)
df_gtf.head()

,0,1,2,3,4,5,6,7,8
0,chr1,HAVANA,gene,3073253,3074322,.,+,.,"gene_id ""ENSMUSG00000102693.1""; gene_type ""TEC..."
1,chr1,HAVANA,transcript,3073253,3074322,.,+,.,"gene_id ""ENSMUSG00000102693.1""; transcript_id ..."
2,chr1,HAVANA,exon,3073253,3074322,.,+,.,"gene_id ""ENSMUSG00000102693.1""; transcript_id ..."
3,chr1,ENSEMBL,gene,3102016,3102125,.,+,.,"gene_id ""ENSMUSG00000064842.1""; gene_type ""snR..."
4,chr1,ENSEMBL,transcript,3102016,3102125,.,+,.,"gene_id ""ENSMUSG00000064842.1""; transcript_id ..."

In [7]:
df_gtf[8].str.split('"').str.get(7)

0          OTTMUSG00000049935.1
1                 4933401J01Rik
2                 4933401J01Rik
3                           NaN
4                       Gm26206
5                       Gm26206
6          OTTMUSG00000026353.2
7                          Xkr4
8                          Xkr4
9                          Xkr4
10                         Xkr4
11                         Xkr4
12                         Xkr4
13                         Xkr4
14                         Xkr4
15                         Xkr4
16                         Xkr4
17                         Xkr4
18                         Xkr4
19                         Xkr4
20                         Xkr4
21                         Xkr4
22                         Xkr4
23                         Xkr4
24               pseudo_consens
25                      Gm18956
26                      Gm18956
27         OTTMUSG00000049960.1
28                      Gm37180
29                      Gm37180
                   ...
1852160                     NaN
1852161                  mt-Tl2
1852162                  mt-Tl2
1852163                     NaN
1852164                  mt-Nd5
1852165                  mt-Nd5
1852166                  mt-Nd5
1852167                  mt-Nd5
1852168                  mt-Nd5
1852169                     NaN
1852170                  mt-Nd6
1852171                  mt-Nd6
1852172                  mt-Nd6
1852173                  mt-Nd6
1852174                  mt-Nd6
1852175                  mt-Nd6
1852176                     NaN
1852177                   mt-Te
1852178                   mt-Te
1852179                     NaN
1852180                 mt-Cytb
1852181                 mt-Cytb
1852182                 mt-Cytb
1852183                 mt-Cytb
1852184                     NaN
1852185                   mt-Tt
1852186                   mt-Tt
1852187                     NaN
1852188                   mt-Tp
1852189                   mt-Tp
Name: 8, Length: 1852190, dtype: object

In [8]:
df_foxp3 = df_gtf[['Foxp3' in x for x in df_gtf[8]]]
df_foxp3

,0,1,2,3,4,5,6,7,8
1775744,chrX,HAVANA,gene,7573644,7595245,.,+,.,"gene_id ""ENSMUSG00000039521.13""; gene_type ""pr..."
1775745,chrX,HAVANA,transcript,7573644,7586518,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775746,chrX,HAVANA,exon,7573644,7573909,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775747,chrX,HAVANA,exon,7577688,7577724,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775748,chrX,HAVANA,exon,7577908,7578081,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775749,chrX,HAVANA,exon,7586334,7586518,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775750,chrX,HAVANA,CDS,7586355,7586518,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775751,chrX,HAVANA,start_codon,7586355,7586357,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775752,chrX,HAVANA,UTR,7573644,7573909,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775753,chrX,HAVANA,UTR,7577688,7577724,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775754,chrX,HAVANA,UTR,7577908,7578081,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775755,chrX,HAVANA,UTR,7586334,7586354,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775756,chrX,HAVANA,transcript,7579567,7593799,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775757,chrX,HAVANA,exon,7579567,7579725,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775758,chrX,HAVANA,exon,7586334,7586561,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775759,chrX,HAVANA,CDS,7586355,7586561,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775760,chrX,HAVANA,start_codon,7586355,7586357,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775761,chrX,HAVANA,exon,7587074,7587178,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775762,chrX,HAVANA,CDS,7587074,7587178,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775763,chrX,HAVANA,exon,7587275,7587413,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775764,chrX,HAVANA,CDS,7587275,7587413,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775765,chrX,HAVANA,exon,7587787,7587874,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775766,chrX,HAVANA,CDS,7587787,7587874,.,+,2,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775767,chrX,HAVANA,exon,7587973,7588077,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775768,chrX,HAVANA,CDS,7587973,7588077,.,+,1,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775769,chrX,HAVANA,exon,7588868,7588955,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775770,chrX,HAVANA,CDS,7588868,7588955,.,+,1,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775771,chrX,HAVANA,exon,7589096,7589176,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775772,chrX,HAVANA,CDS,7589096,7589176,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775773,chrX,HAVANA,exon,7591373,7591526,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
...,...,...,...,...,...,...,...,...,...
1775986,chrX,ENSEMBL,CDS,7592650,7592751,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775987,chrX,ENSEMBL,exon,7592900,7595243,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775988,chrX,ENSEMBL,CDS,7592900,7593040,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775989,chrX,ENSEMBL,stop_codon,7593041,7593043,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775990,chrX,ENSEMBL,UTR,7586273,7586354,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775991,chrX,ENSEMBL,UTR,7593041,7595243,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775992,chrX,HAVANA,transcript,7586355,7593048,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775993,chrX,HAVANA,exon,7586355,7586561,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775994,chrX,HAVANA,CDS,7586355,7586561,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775995,chrX,HAVANA,start_codon,7586355,7586357,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775996,chrX,HAVANA,exon,7587074,7587178,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775997,chrX,HAVANA,CDS,7587074,7587178,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775998,chrX,HAVANA,exon,7587275,7587413,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1775999,chrX,HAVANA,CDS,7587275,7587413,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776000,chrX,HAVANA,exon,7587787,7587874,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776001,chrX,HAVANA,CDS,7587787,7587874,.,+,2,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776002,chrX,HAVANA,exon,7587973,7588077,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776003,chrX,HAVANA,CDS,7587973,7588077,.,+,1,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776004,chrX,HAVANA,exon,7588868,7588955,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776005,chrX,HAVANA,CDS,7588868,7588955,.,+,1,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776006,chrX,HAVANA,exon,7591373,7591526,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776007,chrX,HAVANA,CDS,7591373,7591526,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776008,chrX,HAVANA,exon,7592159,7592235,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776009,chrX,HAVANA,CDS,7592159,7592235,.,+,2,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776010,chrX,HAVANA,exon,7592650,7592751,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776011,chrX,HAVANA,CDS,7592650,7592751,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776012,chrX,HAVANA,exon,7592900,7593048,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776013,chrX,HAVANA,CDS,7592900,7593040,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776014,chrX,HAVANA,stop_codon,7593041,7593043,.,+,0,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."
1776015,chrX,HAVANA,UTR,7593041,7593048,.,+,.,"gene_id ""ENSMUSG00000039521.13""; transcript_id..."

In [9]:
df_foxp3[df_foxp3[2] == 'gene']

,0,1,2,3,4,5,6,7,8
1775744,chrX,HAVANA,gene,7573644,7595245,.,+,.,"gene_id ""ENSMUSG00000039521.13""; gene_type ""pr..."

In [10]:
df_foxp3[3].min()

7573644

In [11]:
df_foxp3[4].max()

7595245

In [12]:
df_gtf[df_gtf[2] == 'gene'][8]

0          gene_id "ENSMUSG00000102693.1"; gene_type "TEC...
3          gene_id "ENSMUSG00000064842.1"; gene_type "snR...
6          gene_id "ENSMUSG00000051951.5"; gene_type "pro...
24         gene_id "ENSMUSG00000102851.1"; gene_type "pro...
27         gene_id "ENSMUSG00000103377.1"; gene_type "TEC...
30         gene_id "ENSMUSG00000104017.1"; gene_type "TEC...
33         gene_id "ENSMUSG00000103025.1"; gene_type "TEC...
36         gene_id "ENSMUSG00000089699.1"; gene_type "ant...
40         gene_id "ENSMUSG00000103201.1"; gene_type "TEC...
43         gene_id "ENSMUSG00000103147.1"; gene_type "pro...
46         gene_id "ENSMUSG00000103161.1"; gene_type "TEC...
49         gene_id "ENSMUSG00000102331.1"; gene_type "sen...
53         gene_id "ENSMUSG00000102348.1"; gene_type "TEC...
56         gene_id "ENSMUSG00000102592.1"; gene_type "TEC...
59         gene_id "ENSMUSG00000088333.2"; gene_type "snR...
62         gene_id "ENSMUSG00000102343.1"; gene_type "lin...
70         gene_id "ENSMUSG00000025900.12"; gene_type "pr...
166        gene_id "ENSMUSG00000102948.1"; gene_type "pro...
170        gene_id "ENSMUSG00000104123.1"; gene_type "TEC...
173        gene_id "ENSMUSG00000025902.13"; gene_type "pr...
257        gene_id "ENSMUSG00000104238.1"; gene_type "pro...
264        gene_id "ENSMUSG00000102269.1"; gene_type "pro...
268        gene_id "ENSMUSG00000096126.1"; gene_type "snR...
271        gene_id "ENSMUSG00000103003.1"; gene_type "pro...
274        gene_id "ENSMUSG00000104328.1"; gene_type "lin...
278        gene_id "ENSMUSG00000102735.1"; gene_type "pro...
281        gene_id "ENSMUSG00000098104.1"; gene_type "pro...
284        gene_id "ENSMUSG00000102175.1"; gene_type "pro...
287        gene_id "ENSMUSG00000088000.1"; gene_type "snR...
290        gene_id "ENSMUSG00000103265.1"; gene_type "pro...
                                 ...
1852061    gene_id "ENSMUSG00000064343.1"; gene_type "Mt_...
1852064    gene_id "ENSMUSG00000064344.1"; gene_type "Mt_...
1852067    gene_id "ENSMUSG00000064345.1"; gene_type "pro...
1852073    gene_id "ENSMUSG00000064346.1"; gene_type "Mt_...
1852076    gene_id "ENSMUSG00000064347.1"; gene_type "Mt_...
1852079    gene_id "ENSMUSG00000064348.1"; gene_type "Mt_...
1852082    gene_id "ENSMUSG00000064349.1"; gene_type "Mt_...
1852085    gene_id "ENSMUSG00000064350.1"; gene_type "Mt_...
1852088    gene_id "ENSMUSG00000064351.1"; gene_type "pro...
1852095    gene_id "ENSMUSG00000064352.1"; gene_type "Mt_...
1852098    gene_id "ENSMUSG00000064353.1"; gene_type "Mt_...
1852101    gene_id "ENSMUSG00000064354.1"; gene_type "pro...
1852108    gene_id "ENSMUSG00000064355.1"; gene_type "Mt_...
1852111    gene_id "ENSMUSG00000064356.3"; gene_type "pro...
1852118    gene_id "ENSMUSG00000064357.1"; gene_type "pro...
1852125    gene_id "ENSMUSG00000064358.1"; gene_type "pro...
1852130    gene_id "ENSMUSG00000064359.1"; gene_type "Mt_...
1852133    gene_id "ENSMUSG00000064360.1"; gene_type "pro...
1852139    gene_id "ENSMUSG00000064361.1"; gene_type "Mt_...
1852142    gene_id "ENSMUSG00000065947.3"; gene_type "pro...
1852149    gene_id "ENSMUSG00000064363.1"; gene_type "pro...
1852154    gene_id "ENSMUSG00000064364.1"; gene_type "Mt_...
1852157    gene_id "ENSMUSG00000064365.1"; gene_type "Mt_...
1852160    gene_id "ENSMUSG00000064366.1"; gene_type "Mt_...
1852163    gene_id "ENSMUSG00000064367.1"; gene_type "pro...
1852169    gene_id "ENSMUSG00000064368.1"; gene_type "pro...
1852176    gene_id "ENSMUSG00000064369.1"; gene_type "Mt_...
1852179    gene_id "ENSMUSG00000064370.1"; gene_type "pro...
1852184    gene_id "ENSMUSG00000064371.1"; gene_type "Mt_...
1852187    gene_id "ENSMUSG00000064372.1"; gene_type "Mt_...
Name: 8, Length: 55450, dtype: object

In [13]:
s = df_gtf.loc[0, 8]
s

'gene_id "ENSMUSG00000102693.1"; gene_type "TEC"; gene_name "4933401J01Rik"; level 2; havana_gene "OTTMUSG00000049935.1";'

In [14]:
def get_gene_name(s):
    l = [x.split() for x in s.split(';')[:-1]]
    return [x[1].replace('"', '') for x in l if x[0] == 'gene_name'][0]

In [15]:
get_gene_name(s)

'4933401J01Rik'

In [16]:
%%time
df_gtf['gene_name'] = df_gtf.loc[:,8].map(get_gene_name)

CPU times: user 8.78 s, sys: 24.3 ms, total: 8.8 s
Wall time: 8.81 s

In [17]:
df_gtf_gene = df_gtf[df_gtf[2] == 'gene']

In [18]:
df_gtf_gene.loc[:, 'gene_name'].is_unique

False

In [19]:
df_gtf_gene[df_gtf_gene.loc[:, 'gene_name'].duplicated()]['gene_name']

9743              Ptp4a1
12353            Arhgef4
17253            Gm24826
31372            Gm26457
57493              Sept2
61840          Zfp813-ps
66102            Gm23370
71952            Gm28040
72420            Zc3h11a
79745            Gm28724
89806            Snord80
95367            Gm16701
130175             Ndor1
135417           Snora43
150697              Nron
157597           Gm24350
184666      Olfr1073-ps1
201020           Gm22813
205069     A530058N18Rik
222706            Gm4430
232520          Nkx2-2os
245805           Gm23925
268431            Gm2464
273586     1600017P15Rik
290337            Gm7270
290587           Gm20690
301488           Gm25820
309733           Gm18433
368253              Rmrp
376423           Gm25053
               ...
1299439         Ighv1-13
1312366         Vmn1r216
1358620          Gm36638
1363100           Gm9025
1365958              Nnt
1405465      Vmn2r-ps111
1408738           Gm6740
1439851           Gm5089
1440398    4930594M22Rik
1469599            Mirt2
1477058             Gcat
1484755          Gm27825
1484776          Gm28023
1495260          Gm41392
1517638          Gm38619
1546809          Gm25617
1565104            Atp5o
1569909            Igsf5
1573132          Gm29719
1580773           Gm5966
1600021           Ggnbp1
1634504          Gm44501
1653943           Myl12b
1682296          Mir1949
1685715          Pcdha11
1688419         Arhgap26
1707874            Hdhd2
1715796          Gm23927
1723500           Sssca1
1835176          Gm23786
Name: gene_name, Length: 109, dtype: object

In [41]:
l = []
for g in df_gtf.gene_name.unique()[:10]:
#     print(g)
    df_q = df_gtf[df_gtf.gene_name==g]
    chrom = list(df_q[0])[0]
    start = df_q[3].min()
    end = df_q[4].max()
    strand = list(df_q[6])[0]
    l.append([chrom, start, end, g, 0, strand])
    
df_bed = pd.DataFrame(l)

In [42]:
df_bed

      0        1        2              3  4  5
0  chr1  3073253  3074322  4933401J01Rik  0  +
1  chr1  3102016  3102125        Gm26206  0  +
2  chr1  3205901  3671498           Xkr4  0  -
3  chr1  3252757  3253236        Gm18956  0  +
4  chr1  3365731  3368549        Gm37180  0  -
5  chr1  3375556  3377788        Gm37363  0  -
6  chr1  3464977  3467285        Gm37686  0  -
7  chr1  3466587  3513553         Gm1992  0  +
8  chr1  3512451  3514507        Gm37329  0  -
9  chr1  3531795  3532720         Gm7341  0  +

In [31]:
list(df_q[3])[0]

3531795

In [37]:
df_q[3]

43    3531795
44    3531795
45    3531795
Name: 3, dtype: int64

In [40]:
df_q[3].min()

3531795

In [44]:
list_genes = ['Xkr4']

In [43]:
df_bed

      0        1        2              3  4  5
0  chr1  3073253  3074322  4933401J01Rik  0  +
1  chr1  3102016  3102125        Gm26206  0  +
2  chr1  3205901  3671498           Xkr4  0  -
3  chr1  3252757  3253236        Gm18956  0  +
4  chr1  3365731  3368549        Gm37180  0  -
5  chr1  3375556  3377788        Gm37363  0  -
6  chr1  3464977  3467285        Gm37686  0  -
7  chr1  3466587  3513553         Gm1992  0  +
8  chr1  3512451  3514507        Gm37329  0  -
9  chr1  3531795  3532720         Gm7341  0  +

In [48]:
df_q = df_bed[df_bed[3].isin(list_genes)]

In [49]:
df_q

      0        1        2     3  4  5
2  chr1  3205901  3671498  Xkr4  0  -

In [50]:
mergin = 50000

In [52]:
df_q[1] = df_q[1] - mergin
df_q[2] = df_q[2] + mergin

/Users/yasumizuyoshiaki/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/yasumizuyoshiaki/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [53]:
df_q

      0        1        2     3  4  5
2  chr1  3155901  3721498  Xkr4  0  -